<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="${context}/static/lab.css" type="text/css">
		<title>Europeana Search Concole - R&D Prototype</title>
	</head>
<body>
<#include "../banner.include.html">
<h2>About the prototype</h2>
<p>This prototype is a work in progress. It aims to support data providers of Europeana in checking the compliance of their implementation 
of solutions for delivering data to Europeana.</p> 

<p>This console supports checking of two types of resources:</p>
<ul>
	<li><a href="${context}/check_schemaorg">Schema.org included in a webpage (as used for SEO)</a></li>
	<li><a href="${context}/check_iiif_manifest">IIIF manifest with structured metadata in Schema.org or EDM (seeAlso references)</a></li> 
</ul>

<p>For using the console, follow the link for the type of solution to be checked, and use URL addresses of webpages or of IIIF manifests.</p>


<#include "../footer.include.html">

</body>
</html>