<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="${context}/static/lab.css" type="text/css">
		<title>Europeana Metadata Testing Tool - R&D Prototype</title>
	</head>
<body>
<#include "../banner.include.html">

<div class="breadcrumbs">&gt; <a href="${context}">Home</a></div>

<h2>Check Wikidata Entity as EDM</h2>

<form action="${context}/check_wikidata" method="get">

<p>Wikidata entity ID or URI: 
	<input type="text" name="wikidataID" value="${uri!}" style="width:650px"/> <input type="submit" name="operation" value="Check entity"/>
<br />
(enter the ID of a Wikidata entity about a cultural heritage object)
</p>
<br />
<table style="padding-bottom:10px">
	<tr><td colspan="2" class="form_title">Results <#if uriChecked>for ${uri!}</#if></td></tr>
	<#if message??>
		<tr><td colspan="2" class="validation_message">${message}</td></tr>
	</#if>
	<tr><td width="800" class="field_value">
	
	<#if uriChecked>
	<#if cho?has_content>	
	  <#if uriValidated>
		<b>Cultural Heritage Object</b> &nbsp;&nbsp; [<a href="${context}/check_wikidata?wikidataID=${uri?url('UTF-8')}">View EDM metadata</a>]

			<table style="margin-top:0px">
				<tr><td class="field_value" colspan="2">URI: ${cho.uri}</td></tr>
	    	<#if cho.validation.errors?has_content>
					<tr><td class="field_value" colspan="2">&nbsp;&nbsp;Validation messages</td></tr>
				<#list cho.validation.errors as msg>
					<tr><td class="field_value"> &nbsp;&nbsp; - </td><td class="field_value">${msg}</td></tr>
				</#list>
			<#else>
 					<tr><td class="field_value"> &nbsp;&nbsp; The resource is valid</td><td class="field_value"></td></tr>
			</#if>

			<tr><td class="field_value" colspan="2">&nbsp;&nbsp;</td></tr>
			
	    	<#if cho.tiers??>
					<tr><td class="field_value" colspan="2">&nbsp;&nbsp;Metadata Tier Scores</td></tr>
					<tr><td class="field_value" colspan="2"> &nbsp;&nbsp; - Metadata tier: ${cho.tiers.metadata}</td></tr>
					<tr><td class="field_value" colspan="2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Language component: ${cho.tiers.language}</td></tr>
					<tr><td class="field_value" colspan="2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Contextual classes component: ${cho.tiers.contextualClass}</td></tr>
					<tr><td class="field_value" colspan="2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Enabling elements component: ${cho.tiers.enablingElements}</td></tr>
			<#else>
 					<tr><td class="field_value"> &nbsp;&nbsp; It was not possible to calculate the metadata tier scores</td><td class="field_value"></td></tr>
			</#if>
			
			<tr><td class="field_value" colspan="2">&nbsp;&nbsp;</td></tr>
	    	<#if cho.completeness??>
					<tr><td class="field_value" colspan="2">&nbsp;&nbsp;Record completeness</td></tr>
					<tr><td class="field_value" colspan="2"> &nbsp;&nbsp; - Score (0-1): ${cho.completeness}</td></tr>
			<#else>
 					<tr><td class="field_value"> &nbsp;&nbsp; It was not possible to calculate the record completeness score</td><td class="field_value"></td></tr>
			</#if>
			
			<tr><td class="field_value" colspan="2">&nbsp;&nbsp;</td></tr>
	    	<#if cho.multilingualSaturation??>
					<tr><td class="field_value" colspan="2">&nbsp;&nbsp;Multilingual saturation</td></tr>
					<tr><td class="field_value" colspan="2"> &nbsp;&nbsp; - Language tags: ${cho.multilingualSaturation.langTagCount}</td></tr>
					<tr><td class="field_value" colspan="2"> &nbsp;&nbsp; - Languages: ${cho.multilingualSaturation.languagesCount}</td></tr>
			<#else>
 					<tr><td class="field_value"> &nbsp;&nbsp; It was not possible to calculate the record multilingual saturation score</td><td class="field_value"></td></tr>
			</#if>
			
			</table>
  	  <#else>
		<b>Cultural Heritage Object</b> &nbsp;&nbsp; [<a href="${context}/validate_wikidata?wikidataID=${uri?url('UTF-8')}">Evaluate data quality</a>]
			<table style="margin-top:0px">
				<tr><td class="field_value" colspan="2">URI: ${cho.uri}</td></tr>
			<#list cho.types as type>
				<tr><td class="field_value"> &nbsp;&nbsp; a </td><td class="field_value">${type.object}</td></tr>
			</#list>
			<#list cho.statements as st>
				<tr><td class="field_value"> &nbsp;&nbsp; ${st.predicate} </td><td class="field_value">${st.object}</td></tr>
			</#list>
			</table>	
  	  </#if>
	<#else>
		No Cultural Heritage Object resource was identified in the Wikidata entity<br />
	</#if>
	  
	<br />
	<#if otherResources?has_content && !uriValidated>
	<b>Other resources</b><br />
	<#list otherResources as res>

	    <table style="margin-top:0px">
				<tr><td class="field_value" colspan="2">URI: ${res.uri}</td></tr>
			<#list res.types as type>
				<tr><td class="field_value"> &nbsp;&nbsp; a </td><td class="field_value">${type.object}</td></tr>
			</#list>
			<#list res.statements as st>
				<tr><td class="field_value"> &nbsp;&nbsp; ${st.predicate} </td><td class="field_value">${st.object}</td></tr>
			</#list>
			</table>
			<#if res?has_next>
				<br />
			</#if>		
	</#list>	
	</#if>

	<#else>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</#if>
	</td></tr>
</table>

</form>


<#include "../footer.include.html">
</body>
</html>